* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--gray-500);
}

:root {
  --gray-100: #f9f9fa;
  --gray-200: #d7d7d7;
  --gray-300: #cccaca;
  --gray-500: #373530;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}